.header, .subheader, .content-header, .alt-header {
  color: white;
  line-height: 3.5rem;
  position: relative;
}

.alt-header, .content-header, .header, .subheader {
  min-height: 60vh;
}

/* MAIN HEADER */
.header {
    background: url("../img/headers/header.jpg") center bottom no-repeat;
    background-size: cover;
  }
  
  .header-content, .subheader-content {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .heading {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .subheading {
    font-size: 1.75rem;
  }

  .cta {
    background: #001cd4;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    letter-spacing: 0.1rem; 
    padding: 1rem 3rem;
    text-transform: uppercase;
    position: relative;
    top: 0;
    transition: ease 0.4s;
    }

    .cta:hover {
      background: #040720;
      top: -10px;
    }

.button-wrap {
    margin-top: 2.5rem;
}

/* SUB (2ND) HEADER | CONTACT-, -ABOUT AND EXHIBITION PAGE */
.subheader {
  background: #1596ff;
}

.content-header {
  background: url("../img/headers/subheader.jpg") center bottom no-repeat;
  background-size: cover;
}

/* ALTERNATIVE HEADER | FROM VISIT PAGE */
.alt-header {
  background: url("../img/headers/altheader.jpg") center bottom no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1280px) {
    /* HEADER */
    .header-content {
      line-height: 3.25rem;
      }
      .blog-page, .gallery-page {
        padding: 1rem 0 0;
      }
      .button-wrap {
        margin-top: 1.5rem;
      }
      .content-header, .subheader {
        min-height: 65vh;
      }
}

@media only screen and (max-width: 900px) {
  .header-content {
    line-height: 2.5rem;
      top: 100px;
    }
    .subheader {
    margin-bottom: 2rem;
    min-height: 30vh;
  }
  .heading {
    font-size: 1.47rem;
  }
  .subheading {
    font-size: 1rem;
  }
  .content-header, .subheader {
    min-height: 75vh;
  }
}