* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
  margin-top: 0.25rem;
}

.head {
  display: flex;
  justify-content: space-between;
  padding-right: 1.4rem;
}

hr {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem 0 2rem;
  max-width: 1100px;
}

/* HEADER */
.header {
    background: url("../img/header.jpg") center bottom no-repeat;
    background-size: cover;
    color: white;
    line-height: 3.5rem;
    min-height: 60vh;
    position: relative;
  }
  
  .header-content {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .heading {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .subheading {
    font-size: 1.75rem;
  }

  .cta {
    background: blue;
    border-radius: 0.25rem;
    cursor: pointer;
    letter-spacing: 0.1rem; 
    padding: 1rem 3rem;
    text-transform: uppercase;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    }

    .cta:hover {
      top: -10px;
    }

.button-wrap {
    margin-top: 2.5rem;
}

  .blog_container, .gallery_container {
    margin: 1rem auto 0;
    max-width: 1280px;
    padding: 1.25rem 4.75rem 0;
  }

  .blog-page, .gallery-page {
    margin: 1rem 0 3rem;
  }

/* BLOG CONTENT | HOMEPAGE */
.blog_container {
  margin-top: 2.5rem;
}

.blog-page {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-blog {
    max-width: 375px;
    padding-right: 1.4rem;
  }

  .inner-card  {
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1)
  }

  /* Blog images */
  .blog-image {
    width: 100%;
    height: 350px;
    margin-bottom: 0.85em;
    overflow: hidden;
  }

  .blog-image img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s all ease-in-out;
  }

  .blog-image:hover img {
    transform: scale(1.5);
}

  /* Blog content */
  .blog-content {
    margin-bottom: 2.5rem;
  }

  .blog-content h3 {
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 10px;
    color: #444;
  }

  .blog-content p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
  }

  .event-date {
    margin-bottom: 1.2rem;
}

  /* CTA button | Homepage */
  .read-btn {
    border-radius: 0.25rem;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #3232cd;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s;
  }

  .read-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .read-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .read-btn:hover span {
    padding-right: 25px;
  }
  
  .read-btn:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* GALLERY SECTION | HOMEPAGE */
  .gallery_container {
    margin-bottom: 7.5rem;
  }

  .gallery-page {
      display: grid;
      grid-gap: 1.4rem;
      grid-template-columns: repeat(3, 1fr);
      padding-right: 1.5rem;
  }

  .gallery-content {
    position: relative;
  }

  /* Galery image(s) */
  .gallery-image {
    width: 100%;
    height: 100%;
  }

  .gallery-image,
  .gallery-content .gallery-overlay {
    border-radius: 0.25rem;
  }

  /* How gallery content's displayed on hover */
  .gallery-content .gallery-overlay,
  .gallery-details {
    position: absolute;
  }

  .gallery-content .gallery-overlay {
    background: rgba(17, 8, 99, 0.7);
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    padding: 0;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .gallery-content:hover .gallery-overlay {
    opacity: 1;
  }

  .gallery-details {
    color: white;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    padding: 0;
    width: 75%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

    /* Where in gallery content's displayed on hover */
    .gallery-content, .gallery-details {
      text-align: center;
    }

  .gallery-content:hover .gallery-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .fadein {
    top: 70%;
  }

  /* FOOTER */
  footer {
    background: #290fd1;
    color: white;
    padding: 2.5rem;
    text-align: center;
}

@media only screen and (max-width: 1280px) {
    /* HEADER */
    .header-content {
      line-height: 3.25rem;
      }
      .blog-page, .gallery-page {
        padding: 1rem 0 0;
      }
      .button-wrap {
        margin-top: 1.5rem;
      }
      /* BLOG CONTENT */
      .blog_container, .gallery_container {
        margin: 1rem auto 2rem;
        max-width: 910px;
      }
      .blog-page {
        margin-bottom: -1rem;
      }
      .card-blog {
        padding-bottom: 1.4rem;
      }
      /* GALLERY CONTENT */
      .gallery-page {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 6rem;
    }
}

@media only screen and (max-width: 900px) {
  .header-content {
    line-height: 2.5rem;
      top: 100px;
    }
  .heading {
    font-size: 1.47rem;
  }
  .subheading {
    font-size: 1rem;
  }
  /* BLOG CONTENT */
  .blog_container, .gallery_container {
    margin-bottom: -3.5rem;
    margin-top: -0.25rem;
    padding: 2.75rem;
  }
  .blog-page {
    margin: 1rem 0;
  }
  .blog-image {
    height: 300px;
  }
  .card-blog {
    max-width: 100%;
    padding-bottom: 1.75rem;
    padding-right: 0;
  }
        /* GALLERY CONTENT */
        .gallery-page {
          grid-template-columns: auto;
          padding-right: 0; 
      }
}