* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* HEADER */
.header {
    background: url("../img/header.jpg") center bottom no-repeat;
    background-size: cover;
    min-height: 60vh;
    position: relative;
  }
  
  .header-content {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
  }

/* BLOG CONTENT | HOMEPAGE */
.blog_container {
  max-width: 1280px;
  margin: 1rem auto 2rem;
  padding: 4.75rem;
}

.blog-page {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
  }

  .card-blog {
    max-width: 375px;
    padding-right: 1.4rem;
  }

  .inner-card  {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1)
  }

  /* Blog images */
  .blog-image {
    width: 100%;
    height: 350px;
    margin-bottom: 0.85em;
  }

  .blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* Blog content */
  .blog-content {
    margin-bottom: 2em;
  }

  .blog-content h2 {
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 10px;
    color: #444;
  }

  .blog-content p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
  }

  /* CTA button | Homepage */
  .read-btn {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #3232cd;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  footer {
    background: #290fd1;
    color: white;
    padding: 2.5rem;
    text-align: center;
}

@media only screen and (max-width: 1280px) {
    /* HEADER */
    .header-content {
        top: 125px;
      }
      /* BLOG CONTENT */
      .blog_container {
        margin: 0rem auto 2rem;
        max-width: 910px;
      }
      .card-blog {
        padding-top: 1.4rem;
      }
}

@media only screen and (max-width: 900px) {
  .blog_container {
    padding: 2.75rem;
  }
  .blog-page {
    margin: 1rem 0;
  }
  .card-blog {
    max-width: 100%;
    padding-bottom: 1rem;
    padding-right: 0;
  }
}