.menu {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index: 999;
}

/* Hamburger menu */ 
.hamburger-menu {
    display: none;
}

.hambar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000080;
}

/* Menu links */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link {
    font-size: 1.25rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 900px) {
    .nav-menu {
        position: absolute;
        right: -100%;
        top: 4.25rem;
        flex-direction: column;
        background-color: #482ff7;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }
    .nav-menu.active {
        right: 0;
    }
    .nav-item {
        margin: 1rem 0;
    }
    .nav-link {
        color: white;
    }
    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
    
    /* */
    .hamburger-menu.active .hambar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.active .hambar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger-menu.active .hambar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}