footer {
  padding: 2.5rem;
}

footer, .copyright {
  background: #001cd4;
  color: white;
  text-align: center;
}

.copyright {
padding: 1.75rem;
}

footer h5 {
font-size: 1.2rem;
margin-bottom: 1.5rem;
}

/* Back-to-top */
.top {
text-align: center;
padding: 0.5rem 0 1.5rem;
}

.topmenu i {
color: white;
font-size: 2.5rem;
transition: all 0.5s;
}

.topmenu i:hover {
transform: translateY(-1rem);
}

/* Footer column */
.footer:after {
content: "";
display: table;
clear: both;
}

.footer-column {
font-size: 0.91em;
float: left;
width: 25%;
padding: 2.5em;
min-height: 30vh; /* Should be removed. Only for demonstration */
letter-spacing: 0.1em;
line-height: 2.5em;
text-align: left;
}

/* Opening hours */
table {
border-collapse: collapse;
width: 100%;
}

td, th {
text-align: left;
}

.bold {
  font-weight: bold;
}

/* Contact information */
.adress-box {
  margin-top: 2rem;
  margin-bottom: 1.75rem;
}

/* Navigation | Menu*/
.footer-link {
cursor: pointer;
}

.footer-link:hover {
text-decoration: underline;
}

.footera {
  color: white;
}

.footera#active {
  text-decoration: underline;
}

.footera:hover {
  text-decoration: underline;
}

/* Social media & subscribe field */

.medialinks {font-size: 1.4rem;}

.medialinks i {
cursor: pointer;
padding-right: 0.5rem;
transition: 0.25s;
}

.medialinks i:hover {
color: black;
}

@media only screen and (max-width: 1280px) {
  .footer-column, td, th {
    text-align: center;
  }
  .footer-column {
    width: 33%;
  }
}

@media only screen and (max-width: 900px) {
    .footer-column {
    font-size: 1.25em;
    line-height: 2.5em;
    padding: 1.5rem 0 1rem;
    width: 100%;
  }
  table {
    font-size: 0.9rem;
  }
}

.subinput, .subbtn {
  border: none;
  font-family: "Montserrat", 'sans-serif';
  letter-spacing: 0.1rem;
  padding: 0.5rem;
}

.subinput {
  background: white;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  margin-right: 0.5rem;
  width: 40%;
}

.subbtn {
background: #1596ff;
border-radius: 0rem 0.25rem 0.25rem 0rem;
color: white;
cursor: pointer;
margin-left: -1rem;
padding: 0.5rem 1rem;
}

.sub-field {
  margin-top: 1.5rem;
}

.sub-field p {
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.adress-box p {
    margin-bottom: 0.75rem;
}

#subError {
  display: none;
}