@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
}

b, p {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}

body {
  color: #000a4a;
  min-height: 100vh;
}

html {
  font-family: "Montserrat", 'sans-serif';
}

html, body {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
}

button {
  background-color: #001cd4;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", 'sans-serif';
  font-size: 1rem;
  height: 3rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: all 0.5s;
  width: 100%;
}

button:hover {
  background-color: #040720;
}

hr {
  background: #1596ff; 
  border: 2px solid #1596ff;
  border-radius: 1rem;
}

li {
    list-style: none;
}

/* root: */

/* From exhibitions.css and about.css */
figure {
  margin: 0;
}