* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

html, body {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  color: #2e3d52;
  min-height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* From exhibitions.css and about.css */
figure {
  margin: 0;
}

/* root: */