@import "../imports/variables.css";
@import "../imports/nav.css";
@import "../imports/footer.css";

@import "../_headers.css";

.info_container {
  margin: 2rem auto 0;
  max-width: 1280px;
  padding: 1.5rem 0 4.5rem;
}

/* INTRODUCTION SECTION */
.intro-page {
  display: grid;
  grid-template-columns: 50% min-content 1fr max-content;
  grid-gap: 0.75rem;
  grid-template-areas:
    "photo author author author"
    "photo title title title"
    "photo . hr hr"
    "photo . summary summary"
    "photo . description description"
    "photo . . .";
  background: #fff;
  padding-right: 0.75rem;
  margin-bottom: 0.75rem;
  overflow: hidden;
  height: 475px;
  padding-right: 0.5rem;
  margin: 1.5rem 0 4.5rem;
}

hr {
  grid-area: hr;
  margin-bottom: 6rem;
}

.intro-description {
  grid-area: description;
  line-height: 1.5;
  margin-top: 0.25rem;
  padding-bottom: 3.25rem;
}

.intro-photo {
  grid-area: photo;
} 

.intro-summary {
  font-size: 1.05rem;
  grid-area: summary;
  letter-spacing: 0.025rem;
  margin-top: -4rem;
}

.intro-title {
  grid-area: title;
  font-size: 2rem;
  grid-area: author;
  margin-top: 0;
  padding-left: 0.6rem;
}

/* Intro image */
.intro-image {
  width: 100%;
  height: 100%;
  margin-bottom: 0.85em;
  overflow: hidden;
}
  
.intro-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* CONTENT SECTION */
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3em auto 0;
}

.content-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-sizing: border-box;
  color: #475569;
  margin: 0;
  min-height: 200px;
  padding: 1.875rem;
  text-align: center;
  width: 400px;
}

.content-card i {
  color: #1596ff;
  font-size: 2rem;
  margin: 1.5rem 0 2rem;
}

.content-card h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0;
}

.content-card p {
  font-size: 0.9rem;
  letter-spacing: 0.031rem;
  line-height: 1.5rem;
  text-align: left;
}

.btn {
  border-radius: 0.25rem;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #001cd4;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 2.5rem;
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn:hover {
  background: #040720;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

@media (max-width: 1280px) {
  .info_container {
    margin: 0 auto 0;
    padding: 0 0 3rem;
  }
  .intro-page {
      height: auto;
      margin-right: 2rem;
      margin-top: 0;
  }
  .intro-title {
    margin-top: 1rem;
  }
  .intro-summary {
      padding-bottom: 1rem;
  }
  .intro-description {
      margin-top: -0.5rem;
      padding-bottom: 2rem;
  }
  hr {
    margin-bottom: 5.5rem;
  }
  .content-wrapper {
    justify-content: space-evenly;
}
  .content-card {
    margin: 0 0 3.25rem;
    width: 325px;
  }
}

@media (max-width: 900px) {
  .intro-page {
    grid-template-columns: min-content 1fr 1fr;
    grid-template-areas:
      "photo photo photo"
      "author author author"
      "hr hr hr"
      "title title title"
      "summary summary summary"
      "description description description";
    margin-bottom: 0;
    margin-right: -0.47rem;
    margin-top: -2rem;
  }

  .intro-title, .intro-summary, .intro-description {
    padding: 0rem 2rem 3rem;
  }

  .intro-title {
  margin-top: 1rem;
  }

  .intro-summary {
      padding-bottom: 0.75rem;
  }

  .intro-description {
      padding-bottom: 3rem;
  }

  hr {
      margin-bottom: 4.5rem;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: -2.5rem;
  }

  .content-wrapper {
    margin: 0 auto 0;
  }

  .content-card {
    margin: 0 0 2rem;
    width: 300px;
  }
}